/* Class Styles */
body {
  margin: 0px;
  font-family: ‘Roboto Condensed’, sans-serif;
  background-image: url(./assets/bar.jpg);
  display: flex;
  display: inline;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-nav {
  display: flex;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin-bottom: 40px;
  justify-content: space-around;
  align-content: flex-end;
}

.countdown {
  border-radius: 25px;
  font-size: 28px;
  text-decoration: none;
  margin-bottom: 40px;
  color: white;
  padding: 20px;
  background-color: black;
  margin: 5px;
}

.logo {
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 50px;
  padding: 10px;
  margin: 25px;
}

.container {
  width: 297px;
  height: 239px;
  /* width: calc(calc(100% / 3) - 2px);
  /* height: 260px; mobile */
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  border-radius: 25px;
  margin: 10px;
}
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  background-size: contain;
}
.card div {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 140px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card .front {
  background-image: url(./assets/Cheers-tv-logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.card .back {
  background: blue;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

a,
p {
  border-radius: 25px;
  font-size: 28px;
  text-decoration: none;
  color: white;
  padding: 20px;
  background-color: black;
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: calc(calc(100% / 3) - 2px);
    height: 260px;
  }
}
